body {
    min-width: 768px;
    background-color: rgba(0,188,212,0.2) !important;
}

nav {
    margin-bottom: 0 !important;
}

.navbar-default, pre{
    background-color: rgba(248,248,248,0.5) !important;
}

.container {
    min-width: 750px;
}

.post-heading {
    margin-top: 20px;
}

.err_msg {
    color:red;
}
