html {
  background: url(/img/skyline-buildings-new-york-skyscrapers-big.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  min-width: 768px;
  background-color: transparent !important;
  padding-bottom: 20px;
}

textarea {
  resize:none;
  word-wrap:break-word;
  width:100%;
  min-height:200px;
}

.comment, .comment-form {
  padding-top: 20px;
}

.comment-textarea {
  min-height: 100px;
}

.comment-form, .comment-form .err_msg, .post-comment-form .err_msg {
  display:none;
}

.nav {
  margin-bottom: 0 !important;
}

pre {
  background-color: rgba(248,248,248,0.7) !important;
}

.container {
  margin-top: 50px;
  min-width: 750px;
}

.post-heading {
  margin-top: 20px;
}

.err_msg {
  color:red;
}
