<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <title>MultiUser Blog</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <a class="navbar-brand" href="/blog">MultiUser Blog</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{% if user %}
			  <ul class="nav navbar-nav">
			    <li><a href="/blog/newpost">New Post</a></li>
			  </ul>
			{% endif %}

		  <ul class="nav navbar-nav navbar-right">
			{% if user %}
		  	<li class="active"><a href="#">{{user.username}}</a></li>
		    <li><a href="/logout">Logout</a></li>
			{% else %}
		    <li><a href="/signup">Signup</a></li>
		    <li><a href="/login">Login</a></li>
			{% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
	{% block content %}
	{% endblock %}
	</div>

	<!-- modal -->

     <div class="modal fade" id="not-allowed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">You can't do that</h4>
                </div>
                <div class="modal-body">
					You are not the author of this post, so you can't change or delete it.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal">Close</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="not-allowed-like" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">You can't do that</h4>
                </div>
                <div class="modal-body">
                	You can't like your own posts.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal-like">Close</button>
                </div>
            </div>
        </div>
    </div>

 <script>
 $(document).ready(function(){
 	$('.not-allowed').on('click', function(e){
 		e.preventDefault();
 		$('#not-allowed').toggleClass('fade');
 		$('#not-allowed').css('display', $('#not-allowed').css('display') == 'block' ? 'none' : 'block');
 	});
 	$('#close-modal').on('click', function(e) {
 		$('#not-allowed').toggleClass('fade');
 		$('#not-allowed').css('display', $('#not-allowed').css('display') == 'block' ? 'none' : 'block');
 	});

 	$('.not-allowed-like').on('click', function(e){
 		e.preventDefault();
 		$('#not-allowed-like').toggleClass('fade');
 		$('#not-allowed-like').css('display', $('#not-allowed-like').css('display') == 'block' ? 'none' : 'block');
 	});
 	$('#close-modal-like').on('click', function(e) {
 		$('#not-allowed-like').toggleClass('fade');
 		$('#not-allowed-like').css('display', $('#not-allowed-like').css('display') == 'block' ? 'none' : 'block');
 	});

 });

 function Like(object, post_id){
	if (! $(object).hasClass('not-allowed-like')) {
		$.ajax({
		    url: '/blog/' + post_id + '/like',
		    type: 'POST',
		    data: { 'post_id' : post_id },
		    success: function (data) {
		    	$(object).text('Liked');
		    },
		    error: function (data) {
		    	console.log("Something went wrong...");
			},
	    });
	}
 };

 function openEditCommentForm(object){
	$($(object).parent().parent().find('form')).css('display', 'block');
	$($(object).parent()).css('display', 'none');
 };

 function closeEditCommentForm(object){
	$($(object).parent().parent().parent()).css('display', 'none');
	$($(object).parent().parent().parent().find('.err_msg')).css('display', 'none');
	$($(object).parent().parent().parent().parent().find('.comment-body')).css('display', 'block');
 };

function addComment(object, post_id){
	var comment = $($(object).parent().parent().parent().find('textarea'))[0].value;
	$($(object).parent().parent().parent().find('textarea'))[0].value = '';
	if (comment.length == 0) {
		$($(object).parent().parent().parent().find('.err_msg')).css('display', 'block');
	}
	else {
		$.ajax({
		    url: '/blog/' + post_id + '/comment',
		    type: 'POST',
		    data: {
		    	'post_id' : post_id,
		    	 'comment' : comment
		     },
		    success: function (data) {
				try {
					if (JSON.parse(data)['err_msg'] != undefined) {
						$($(object).parent().parent().parent().find('.err_msg')).css('display', 'block');
					}
				}
				catch (e) {
					$(data).insertBefore($($(object).parent().parent().parent().parent().find('hr')));
				}
		    },
		    error: function (data) {
		    	console.log("Something went wrong...");
			},
	    });
		$($(object).parent().parent().parent().find('.err_msg')).css('display', 'none');
	}
 };

 function editComment(object, comment_id){
	var comment = $($(object).parent().parent().parent().find('textarea'))[0].value;
	$($(object).parent().parent().parent().find('textarea'))[0].value = '';
	if (comment.length == 0) {
		$($(object).parent().parent().parent().find('.err_msg')).css('display', 'block');
	}
	else {
		$.ajax({
		    url: '/comment/' + comment_id + '/edit',
		    type: 'POST',
		    data: { 'comment' : comment },
		    success: function (data) {
				try {
					if (JSON.parse(data)['err_msg_critical'] != undefined) {
				    	console.log("Can't edit comment. Method is not allowed for the user.");
					}
					else if (JSON.parse(data)['err_msg'] != undefined) {
						$($(object).parent().parent().parent().find('.err_msg')).css('display', 'block');
					}
				}
				catch (e) {
					$(data).insertAfter($($(object).parent().parent().parent().parent()));
					$($(object).parent().parent().parent().parent()).remove();
				}
		    },
		    error: function (data) {
		    	console.log("Something went wrong...");
			},
	    });
	}
 };

 function deleteComment(object, comment_id){
	$.ajax({
	    url: '/comment/' + comment_id + '/delete',
	    type: 'POST',
	    data: { 'comment_id' : comment_id },
	    success: function (data) {
			if (data['err_msg_critical']) {
		    	console.log("Can't delete comment. Method is not allowed for the user.");
			}
			else if (data['err_msg']) {
				$($(object).parent().parent().find('.err_msg')).css('display', 'block');
			}
			else {
				$(object).parent().parent().remove();
			}
	    },
	    error: function (data) {
	    	console.log("Something went wrong...");
		},
    });
 };

 </script>
</body>
</html>
