<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <title>MultiUser Blog</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <a class="navbar-brand" href="/blog">MultiUser Blog</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{% if user %}
			  <ul class="nav navbar-nav">
			    <li><a href="/blog/newpost">New Post</a></li>
			  </ul>
			{% endif %}

		  <ul class="nav navbar-nav navbar-right">
			{% if user %}
		  	<li class="active"><a href="#">{{user.username}}</a></li>
		    <li><a href="/logout">Logout</a></li>
			{% else %}
		    <li><a href="/signup">Signup</a></li>
		    <li><a href="/login">Login</a></li>
			{% endif %}
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
	{% block content %}
	{% endblock %}
	</div>

	<!-- modal -->

     <div class="modal fade" id="not-allowed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">You can't do that</h4>
                </div>
                <div class="modal-body">
					You are not the author of this post, so you can't change or delete it.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal">Close</button>
                </div>
            </div>
        </div>
    </div>

 <script>
 $(document).ready(function(){
 	$('.not-allowed').on('click', function(e){
 		e.preventDefault();
 		$('#not-allowed').toggleClass('fade');
 		$('#not-allowed').css('display', $('#not-allowed').css('display') == 'block' ? 'none' : 'block');
 	});
 	$('#close-modal').on('click', function(e) {
 		$('#not-allowed').toggleClass('fade');
 		$('#not-allowed').css('display', $('#not-allowed').css('display') == 'block' ? 'none' : 'block');
 	});
 });
 </script>
</body>
</html>
