<form class="form-horizontal comment-form" method="post" id="comment-form-{{ comment.key().id() }}">
  <div class="form-group">
    <div class="col-sm-10">
      <textarea class="form-control comment-textarea" name="comment" placeholder="Write your comment here">{{ comment.comment }}</textarea>
    </div>
  </div>
    <div class="form-group err_msg" >
      <div class="col-sm-10">
        Comment can't be empty
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <div class="btn btn-default" onclick="editComment(this, {{ comment.key().id() }})">Save</div>
        <div class="btn btn-default" onclick="closeEditCommentForm(this)">Cancel</div>
      </div>
    </div>
  </form>