<div class="row post-heading">
    <div class="col-md-8">
        <h4><a href="/blog/{{post.key().id()}}">{{post.subject}}</a></h4>
    </div>
    <div class="col-md-4 text-right">
        <div class="post-datetime">{{post.created.strftime("%b %d, %Y")}}</div>
        <div class="post-author"><b>by {{post.author.username}}</b></div>
    </div>
</div>
<div class="row">
    <pre class="post-content">{{post.content}}</pre>
</div>
<div class="row">
    <a class="btn btn-default {% if post.author.username != user.username %}not-allowed{% endif %}" href="/blog/{{post.key().id()}}/delete">Delete</a>
    <a class="btn btn-default {% if post.author.username != user.username %}not-allowed{% endif %}" href="/blog/{{post.key().id()}}/edit">Edit</a>
</div>
