<div class="row post-heading">
    <div class="col-md-8">
        <h4><a href="/blog/{{post.key().id()}}">{{post.subject}}</a></h4>
    </div>
    <div class="col-md-4 text-right">
        <div class="post-datetime">{{post.created.strftime("%b %d, %Y")}}</div>
        <div class="post-author"><b>by {{post.author.username}}</b></div>
    </div>
</div>
<div class="row">
    <pre class="post-content">{{post.content}}</pre>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default {% if user and post.author.username != user.username %}not-allowed{% endif %}" href="{% if not user %}/login{% else %}/blog/{{post.key().id()}}/delete{% endif %}">Delete</a>
        <a class="btn btn-default {% if user and post.author.username != user.username %}not-allowed{% endif %}" href="{% if not user %}/login{% else %}/blog/{{post.key().id()}}/edit{% endif %}">Edit</a>
        <a class="btn btn-default {% if user and post.author.username == user.username %}not-allowed-like{% endif %}" href="{% if not user %}/login{% else %}javascript:Like('{{post.key().id()}}'){% endif %}">Like</a>
    </div>
    <!-- comments will be here -->
</div>
