{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>Signup</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <form class="form-horizontal" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" name="username" placeholder="username" value="{{username}}">
      </div>
    </div>
    {% if err_username or err_username_taken %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 err_msg">
        {% if err_username %}
        That's not a valid username.
        {% else %}
        Username is already taken.
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
    </div>
	{% if err_password %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 err_msg">
        That wasn't a valid password.
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="verify" class="col-sm-2 control-label">Verify Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="verify" name="verify" placeholder="Verify Password">
      </div>
    </div>
	{% if err_verify %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 err_msg">
        Your passwords didn't match.
      </div>
    </div>
    {% endif %}
	<div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email (Optional)</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}">
      </div>
    </div>
    {% if err_email %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 err_msg">
        That's not a valid email.
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign Up</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
